@import '../../styles/variables.scss';

.output {
    display: flex;
    flex-direction: column;

    &__message {
        @extend %darkGreenBorder;
        display: flex;
        align-items: center;
        height: 5em;
        margin-bottom: 1em;
        padding: 0 0.5em 0 0.5em;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__change {
        @extend %darkGreenBorder;
        flex: 1;
        padding: 0.5em;
        margin-right: 0.5em;
        min-height: 17em;
    }

    &__boughtProduct {
        @extend %darkGreenBorder;
        flex: 1;
        margin-left: 0.5em;
    }
}